* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

#top {
    width: 100%;
    height: 109px;
    background-image: url(../images/nb.png);
    background-size: 100%;
}

.index-left {
    padding-top: 27px;
    padding-left: 50px;
    height: 100px;
    width: 30%;
    /* border: solid; */
    float: left;
}

.index-left a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.index-middle {
    padding-top: 25px;
    padding-left: 70px;
    height: 100px;
    width: 30%;
    float: left;
    /* border: solid; */
    margin: 0 auto;
}

input {
    height: 30px;
    margin: 0;
    padding-left: 10px;
    width: 200px;
    border-radius: 10px;
    float: left;
}

button {
    height: 30px;
    width: 60px;
    font-size: 15px;
}

.index-right {
    padding-top: 27px;
    padding-left: 60px;
    height: 100px;
    /* border: solid; */
    width: 30%;
    float: left;
}

.index-right a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

a:hover {
    text-decoration: underline;
}

#tougao {
    margin-top: 25px;
    padding-top: 4px;
    width: 5%;
    height: 40px;
    background-color: hotpink;
    border-radius: 10px;
    border: antiquewhite solid;
    float: left;
}

#tougao a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

.main {
    /* background-color: rgb(235, 227, 227); */
    width: 1200px;
    height: 120px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.main_left {
    height: 80px;
    width: 250px;
    border-right: dashed rgb(137, 170, 201);
    /* background-color: black;  */
    float: left;
}

.main_left ul {
    list-style-type: none;
}

.main_left li {
    float: left;
}

.d {
    width: 45px;
    height: 45px;
    /* background-color: black; */
    margin: 5px;
}

.d img {
    width: 45px;
    height: 45px;
    margin-bottom: 0;
}

.main_left a {
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.main_left a:hover {
    color: cornflowerblue;
}

table {
    padding-left: 30px;
    float: left;
    /* border: crimson solid; */
}

table td {
    width: 100px;
    height: 30px;
    background-color: rgb(153, 224, 221);
}

table a {
    height: 30px;
    width: 100px;
    color: black;
    text-decoration: none;
    /* background-color: rgb(201, 194, 190);  */
}

#container{
    width: 1200px;
    height: 280px;
    /* background-color: aquamarine; */
    /* border: solid blue; */
    margin: 0 auto;
}
#container .container_left{
    width: 300px;
    height: 266px;
    float: left;
    transition: all .3s;
}
#container .container_left img{
    padding-top: 5px;
    width: 475px;
    height: 266px;
}
#container .container_left a{
    text-decoration: none;
}
#container .container_left p{
    top: -30px;
    left: 5px;
    position: relative;
    color: white;
}
#container .container_left:hover{
    transform: translateY(-10px);
}
#container .out{
    width: 750px;
    height: 270px;
    /* border: solid pink; */
    float: right; 
    padding-right: 0;
}
#container .out ul{
    list-style-type: none;
}
#container .out li{
    float: right;
    transition: all 0.3s;
}
#container .out li img{
    width: 230px;
    height: 120px;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: -5px;
    /* border: solid purple 3px; */
}
#container .out li a{
    text-decoration: none;
    color: black;
}
#container .out li p{
    margin: 0;
    color: white;
    font-size: 10px;
    position: relative;
    top: -18px;
    left: 15px;
}
#container .out li:hover{
    transform: translateY(-10px);
}
#tuiguang{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    /* border: solid black; */
}
.tg_left{
    padding-top: 10px;
    float: left;
    height: 60px;
    /* border: black solid; */
    font-size: 20px;
}
.tg_left p{
    display: inline-block;
    top: -10px;
    position: relative;
}
#tuiguang .tg_left img{
    width: 43px;
    height: 33px;
}
.tg_right{
    /* border: solid green; */
    padding-top: 6px;
    padding-left: 10px;
    width: 700px;
    height: 60px;
    float: left;
}
.tg_right ul{
    list-style-type: none;
}
.tg_right ul li{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 20px;
    /* border: solid black; */
}
.tg_right ul li a{
    text-decoration: none;
    color: black;
}
.tg_right ul li a:hover{
    color: rgb(126,205,244);
}
.tg_right ul li p{
    display: inline-block;
    top: -7px;
    position: relative;
    font-size: 5px;
}
.gklb{
    width: 400px;
    height: 60px;
    float: right;
    /* border: aquamarine solid; */
    text-align: center;
}
.bcgr{
    width: 400px;
    height: 60px;
    background-color: rgb(244,244,244);
}
.gklb a{
    text-decoration: none;
    color: black;
}
.gklb a:hover{
    color: rgb(126,205,244);
}
.gklb p{
    position: relative;
    top: -45px;
}
#guanggao{
    width: 1200px;
    height: 210px;
    /* border: black solid; */
    margin: 0 auto;
}
.gg_left ul{
    list-style-type: none;
}
.gg_left ul li{
    float: left;
    /* border: olivedrab solid; */
    margin-top: 5px;
    margin-right: 20px;
    transition: all .3s;
}
.gg_left a img{
    width: 230px;
    height: 120px; 
}
.small{
    width: 32px;
    height: 21px;
    background-image: url(../images/guanggao.png);
    background-size: 30px 20px;
}
.gg_left li p{
    position: relative;
    left: 35px;
    top: -21px;
    font-size: 14px;
}
.gg_left a{
    text-decoration: none;
    color: black;
}
.gg_left a:hover{
    color: rgb(126,205,244);
}
.gg_left li:hover{
    transform: translateY(-10px);
}
.up{
    background-image: url(../images/up.png);
    width: 32px;
    height: 20px;
    margin-left: -3px;
    /* border: olivedrab solid; */
}
.a_up a p{
    color: rgb(145,153,156);
    font-size: 1px;
    top: -18px;
    left: 25px;
    position: relative;
}
.a_up p:hover{
    color: rgb(126,205,244);
}
.gg_right img{
    float: right;
    width: 400px;
    height: 200px;
} 
#footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto; 
    margin-top: 10px;
}
#footer img{
    width: 1200px;
    height: 100px;
}